.button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button_primary {
  background-color: var(--primary-color);
  color: var(--primary-font-light-color);
  font-weight: var(--primary-font-weight-title);
  font-size: var(--primary-font-size);
}

.button_primary:hover {
  background-color: var(--primary-dark-color);
  transition: 0.3s ease;
}
