@import url("../global/index.css");

.title {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: var(--primary-font-size-title);
  font-weight: 600;
}

.container {
  width: 100%;
  margin: 30px 0;
}

.container__filter {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.filter__item {
  flex: 1;
}

.container__filter .select__title {
  font-size: var(--primary-font-size-normal);
}

.container__filter .select {
  display: block;
  margin-top: 10px;
}

.list__col .wrapper__img {
  max-width: 200px;
  max-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list__col .wrapper__img > .wrapper__img_item {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.list__col > .item_col {
  font-weight: 500;
  border: 1px solid var(--primary-light-color);
}

.list__col:first-child {
  background-color: var(--primary-color);
  color: var(--primary-light-color-2);
}

.list__col:first-child > .item_col {
  background-color: var(--primary-color);
  color: var(--primary-light-color-2);
  text-align: center;
}

.container__pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
