@import url("../global/index.css");

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__item > input {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
}

.form__submit {
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--primary-light-color);
  border: none;
  font-weight: bold;
  font-size: var(--primary-font-size-small);
}

.form__submit:hover {
  background-color: var(--primary-color);
  color: white;
}

.noaccount {
  margin-top: 20px;
}

.noaccount__register {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
