@import url("../global/index.css");

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: var(--primary-color);
}

.info {
  margin-top: 30px;
}

.info__item {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background-color: var(--primary-light-color);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  color: var(--primary-light-color-2);
  background-color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__item_input {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
}

.button-submit {
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--primary-light-color);
  border: none;
  font-weight: bold;
  font-size: var(--primary-font-size-small);
}

.text {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.form__item-error {
  color: var(--primary-font-error-color);
  margin-top: 10px;
}

.link-below {
  margin-top: 20px;
}
