.table {
  box-shadow: var(--primary-box-shadow-color);
  margin-bottom: 20px;
  width: 100%;
}

.table__thumb {
  padding-left: 0;
  width: 20%;
  border-top: 1px solid var(--primary-light-color);
  border-right: 1px solid var(--primary-light-color);
}

.table__cell_title {
  text-align: center;
  font-weight: var(--primary-font-weight-title);
  font-size: 15px;
  color: var(--primary-color);
  border-top: 1px solid var(--primary-light-color);
}

.table__cell_title:first-child {
  border-top: 1px solid var(--primary-light-color);
}

.table__cell {
  padding: 20px;
  border-right: 1px solid var(--primary-light-color);
  border-bottom: 1px solid var(--primary-light-color);
}

.table__image {
  width: 100%;
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.filter {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 20px;
}

.filter__item {
  flex: 1;
}

.search {
  width: 100%;
}

.table__row {
  cursor: pointer;
}

.table__row:hover {
  background-color: var(--primary-light-color-2);
  transition: 0.3s;
}

.button {
  background-color: var(--primary-color);
  color: var(--primary-font-light-color);
}

.button:hover {
  background-color: var(--primary-dark-color);
  transition: 0.3s ease;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__button_wrapper {
  display: flex;
  justify-content: flex-end;
}

.popup__wrapper {
  width: 40%;
  padding: 20px;
  height: auto;
  background: var(--primary-font-light-color);
  box-shadow: var(--primary-box-shadow-color);
}
