.table {
  box-shadow: var(--primary-box-shadow-color);
}

.table__cell_thumb {
  padding-left: 0;
  width: 20%;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-light-color);
}

.table__cell_title {
  text-align: center;
  font-weight: var(--primary-font-weight-title);
  font-size: 15px;
  background-color: var(--primary-color);
  color: var(--primary-light-color-2);
}

.table__cell_title:first-child {
  border-left: 1px solid var(--primary-color);
}

.table__cell {
  padding: 20px;
  border-right: 1px solid var(--primary-light-color);
  border-bottom: 1px solid var(--primary-light-color);
}

.table__img {
  width: 100%;
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.filter {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 20px;
}

.filter__item {
  flex: 1;
}

.search {
  width: 100%;
}
