.detail {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.detail__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.detail__image {
  padding: 0;
  display: block;
  max-width: 400px;
  border-radius: 20px;
}

.detail__image_thumb {
  width: 100%;
  display: block;
  border-radius: inherit;
}

.detail__info_list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.detail__title {
  color: var(--primary-font-color-2);
}

.detail__child {
  color: var(--primary-font-color-2);
  font-weight: var(--primary-font-weight-title);
}

.detail__child_content{
  color: var(--primary-font-color);
}
