<camp-navigation></camp-navigation>
<mat-card *ngIf="animeInfo$ | async as anime; else Loading" class="detail">
  <mat-card class="detail__image">
    <img
      class="detail__image_thumb"
      [src]="anime.image"
      [alt]="anime.titleEnglish"
      (click)="handleOpenImage()"
    />
  </mat-card>

  <div class="detail__info">
    <div class="detail__title">
      <h1>
        {{ anime.titleEnglish }}
      </h1>
      <h1>
        {{ anime.titleJapan }}
      </h1>
    </div>
    <h2 class="detail__child">
      Aired start date:
      <span class="detail__child_content">{{
        anime.aired.start?.toDateString()
      }}</span>
    </h2>
    <h2 class="detail__child">
      Aired end date:
      <span class="detail__child_content">{{
        anime.aired.end?.toDateString()
      }}</span>
    </h2>
    <h2>{{ anime.isAiring ? "Airing" : "" }}</h2>
    <h2 class="detail__child">
      Type:
      <span class="detail__child_content">{{ anime.type.toUpperCase() }}</span>
    </h2>
    <h2 class="detail__child">
      Status: <span class="detail__child_content">{{ anime.status }}</span>
    </h2>

    <h2 class="detail__child">Synopsis:</h2>
    <p class="detail__child_paragraph">{{ anime.synopsis }}</p>

    <div class="detail__info_list">
      <h2 class="detail__child">Studios:</h2>
      <mat-chip-list>
        <mat-chip *ngFor="let studio of anime.studios">{{
          studio.name
        }}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="detail__info_list">
      <h2 class="detail__child">Genres:</h2>
      <mat-chip-list>
        <mat-chip *ngFor="let genre of anime.genres">{{ genre.name }}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="detail__button-wrapper">
      <button
        mat-button
        *ngIf="anime.trailerYoutubeId"
        class="detail__button"
        (click)="handleOpenTrailer()"
        type="button"
      >
        View trailer
      </button>
      <button
        mat-button
        type="button"
        class="detail__button"
        (click)="handleEditAnime()"
      >
        Edit
      </button>

      <button
        mat-button
        type="button"
        class="detail__button"
        (click)="handleDeleteAnime()"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="popup" *ngIf="isShowPopupImage$ | async">
    <div class="popup__wrapper popup__wrapper_image">
      <button type="button" class="popup__close" (click)="handleCloseImage()">
        Close
      </button>
      <img
        class="popup__image"
        [src]="anime.image"
        [alt]="anime.titleEnglish"
      />
    </div>
  </div>

  <div class="popup" *ngIf="isShowPopupTrailer$ | async">
    <div class="popup__wrapper popup__wrapper_trailer">
      <button type="button" class="popup__close" (click)="handleCloseTrailer()">
        Close
      </button>
      <iframe
        class="popup__iframe"
        [title]="anime.titleEnglish"
        allowfullscreen
        [src]="animeTrailer$ | async"
      ></iframe>
    </div>
  </div>
</mat-card>

<ng-template #Loading>
  <div ngClass="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
