.anime-item {
  display: flex;
  min-width: 400px;
  cursor: pointer;
  align-items: center;
}

.anime-item__thumb {
  width: 100%;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
  border-radius: 999px;
}

.anime-item__wrapper {
  overflow: visible !important;
}

.anime-item__content {
  margin-left: 15px;
}
