<form class="login">
  <div class="login__wrapper">
    <h1 class="login__title login__title_welcome">Welcome to Saritasa Anime</h1>
    <h1 class="login__title login__title_action">Login to your account</h1>
    <div class="login__content">
      <mat-form-field class="login__content_email">
        <mat-label>Email</mat-label>
        <input type="email" matInput
        placeholder="Enter your email ... ">
      </mat-form-field>

      <mat-form-field class="login__content_password">
        <mat-label>Search</mat-label>
        <input type="password" matInput
        placeholder="Enter your password ... ">
      </mat-form-field>

      <button type="submit" mat-raised-button class="login__button" >Login</button>
    </div>
  </div>
</form>
