<div class="navigation">
  <div class="navigation__wrapper">
    <div class="navigation__left">
      <a routerLink="/" class="navigation__link">Home</a>
    </div>
    <div class="navigation__right">
      <button
        type="button"
        mat-button
        *ngIf="isAuth$ | async"
        (click)="onLogOutButtonClick()"
      >
        Log out
      </button>

      <button
        mat-button
        type="button"
        *ngIf="isAuth$ | async"
        (click)="onCreateAnimeClick()"
      >
        Create new anime
      </button>
      <a
        *ngIf="(isAuth$ | async) === false"
        [routerLink]="['/auth/login']"
        class="navigation__link"
        >Log in</a
      >
      <a
        *ngIf="(isAuth$ | async) === false"
        [routerLink]="['/auth/register']"
        class="navigation__link"
        >Sign up</a
      >
    </div>
  </div>
</div>
