a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);
}

h2 {
  font-size: var(--primary-font-size-normal);
  font-weight: normal;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.default-layout {
  --default-layout-width: 900px;

  margin: auto;
  max-width: var(--default-layout-width);
}

.button {
  margin-top: 20px;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-light-color);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  color: var(--primary-light-color-2);
  background-color: var(--primary-color);
}
