:root {
  --primary-color: #1363df;
  --primary-light-color: #47b5ff;
  --primary-light-color-2: #dff6ff;

  /* Text color */
  --primary-font-color: #06283d;
  --primary-font-color-2: #1363df;
  --primary-font-error-color: #f00;

  /* Box shadow color */
  --primary-box-shadow-color: 0 4px 8px 0 rgba(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);

  /* Custom grid columns */
  --grid-template-cols-5: repeat(5, minmax(0, 1fr));

  /* Font weight */
  --primary-font-weight-heading: 500;
  --primary-font-weight-title: 600;

  /* Font size */
  --primary-font-size-small: 1rem;
  --primary-font-size-normal: 1.3rem;
  --primary-font-size-title: 2rem;
}
