<div>
  <table class="table">
    <caption class="table__caption">Anime table</caption>
    <tr class="table__row">
      <th class="table__row_item">Thumbnail</th>
      <th class="table__row_item">English title</th>
      <th class="table__row_item">Japanese title</th>
      <th class="table__row_item">Aired start</th>
      <th class="table__row_item">Type</th>
      <th class="table__row_item">Status</th>
    </tr>
    <tr *ngFor="let item of animeList" class="table__row">
      <th class="table__row_item table__row_item_thumb">
        <img class= "table__row_item_thumb__img" src="{{item.image}}" alt="{{item.titleEnglish}}" />
      </th>
      <th class="table__row_item">{{item.titleEnglish}}</th>
      <th class="table__row_item">{{item.titleJapan}}</th>
      <th class="table__row_item">{{item.aired.start ? item.aired.start.toLocaleDateString() : ''}}</th>
      <th class="table__row_item">{{item.type}}</th>
      <th class="table__row_item">{{item.status}}</th>
    </tr>
  </table>
</div>
